<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Travel Trails</title>
  </head>

  <body>
    <h1>Models:</h1>

    <a href="/dashboard/createmodel">Create Model</a>
    <a href="/dashboard/colmapjobqueue">Colmap Job Queue</a>
    {% for location in locations %}
    <div>
      <h2>{{ location.name }}</h2>
      <h4>{{ location.description}}</h4>
      <p>id: {{ location.id }}</p>
      <p>lat, long: ({{ location.latitude }},{{ location.longitude }})</p>
      <p>last_updated: {{ location.last_updated }}</p>
      <p>geometry: {{ location.geometry }}</p>
      <a href="/dashboard/addmedia/{{location.id}}">Add media</a>
      <a href="/dashboard/updatemodel/{{location.id}}">Update model</a>
      <a href="/dashboard/viewmodel/{{location.id}}">View model</a>

      <form action="/dashboard" method="POST">
        <input type="hidden" name="location_id" value="{{location.id}}"> 
        <input type="submit" name="delete" value="Delete model">
      </form>
      <hr>
    </div>
    {% endfor %}
  </body>
</html>
