<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Travel Trails</title>

    <link rel="stylesheet" href="../static/css/gallery.css">
  </head>

  <body>
    <h1>Update Model</h1>
    {{msg}}
    {% if files %}
      {{ files.raw_img_path }}

      {% for img in files.raw_imgs %}
        {{ img }}
      {% endfor %}

      {{ files.raw_vid_path }}

      {% for vid in files.raw_vids %}
        {{ vid }}
      {% endfor %}
    {% endif %}

    <form action="/dashboard/updatemodel" method="POST">
      <input type="submit" name="update" value="Update">
      <input type="submit" name="check_status" value="Check Status">
    </form>
    <p>{{ msg }}</p>
    <a href="/dashboard">Return to dashboard</a>
  </body>
</html>
